@model IEnumerable<WebChat.Entity.Employee>

@{
    ViewBag.Title = "Listele";
}

<h2>Listele</h2>

<p>
    @Html.ActionLink("Yeni Kayıt", "YeniKayit")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>@Html.DisplayNameFor(model => model.Surname)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Duzenle", new { id = item.Id }) |
                @Html.ActionLink("Detaylar", "Detaylar", new { id = item.Id }) |
                @Html.ActionLink("Sil", "Sil", new { id = item.Id })
            </td>
        </tr>
    }

</table>
